#sequence {
    width: 100vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    font-size: 0.625em;
    color: white;
}

section#splash {
        width: 100vw;
        height: 100vh;
    }

#sequence ol, #sequence ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sequence > .sequence-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#sequence > .sequence-canvas > li {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#sequence .title {
    font-size: 4em;
}

#sequence .subtitle {
    font-size: 2em;
}

#sequence .animate-in .title, #sequence .animate-in .subtitle {
    left: 0;
    opacity: 1;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#sequence .animate-out .title, #sequence .animate-out .subtitle {
    left: -100%;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#sequence .animate-in .model {
    left: 15%;
    opacity: 1;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#sequence .animate-out .model {
    left: -100%;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.animate-in .bg-map {
    background-image: url(../img/sequence/bg-map.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition-duration: 0.5s;
}

.animate-in .bg-phone {
    background-image: url(../img/sequence/bg-phone.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition-duration: 0.5s;
}

.animate-in .bg-plan {
    background-image: url(../img/sequence/bg-plan.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition-duration: 0.5s;
}

.animate-out .bg-map {
    background-image: url(../img/sequence/bg-map.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition-duration: 0.5s;
}

.animate-out .bg-phone {
    background-image: url(../img/sequence/bg-phone.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition-duration: 0.5s;
}

.animate-out .bg-plan {
    background-image: url(../img/sequence/bg-plan.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition-duration: 0.5s;
}

.pos {
    margin: 25% auto;
    position: relative;
}

.display {
    position: relative;
    width: 55%;
    height: 50%;
    float: right;
    top: 0;
    margin: 0;
    padding: 30px;
}

#sequence > .sequence-canvas > li img {
    height: 96%;
}

#sequence > .sequence-canvas li > * {
    position: absolute;
    /* only cause the left and opacity properties to transition */
    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -ms-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
}

.sequence-prev {
    left: 3%;
}

.sequence-next {
    right: 3%;
}

    .sequence-prev img,
    .sequence-next img {
        height: 100%;
        width: auto;
    }

#sequence-preloader {
    background: #d9d9d9;
}

.pag-place {
    text-align: center;
    position: relative;
    z-index: 10;
    bottom: 40%;
}

.sequence-pagination ul {
    bottom: 1%;
    display: inline-block;
    *display: inline;
    /* Hack for IE7 and below as they don't support inline-block */
    margin: 0;
    padding: 0;
    zoom: 1;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.sequence-pagination li {
    display: inline-block;
    *display: inline;
    /* Hack for IE7 and below as they don't support inline-block */
}

    .sequence-pagination li img {
        height: 100px;
        cursor: pointer;
        opacity: 0.5;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-property: margin-bottom, opacity;
        -moz-transition-property: margin-bottom, opacity;
        -ms-transition-property: margin-bottom, opacity;
        -o-transition-property: margin-bottom, opacity;
        transition-property: margin-bottom, opacity;
    }

        .sequence-pagination li img:hover {
            margin-bottom: 4px;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -ms-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }

    .sequence-pagination li.current img {
        opacity: 1;
    }

.sequence-next,
.sequence-prev {
    color: white;
    cursor: pointer;
    display: none;
    font-weight: bold;
    padding: 0;
    z-index: 1000;
    height: 75px;
    position: absolute;
    top: 30%;
    opacity: 0.6;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.sequence-next:hover,
.sequence-prev:hover {
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.title {
    width: 100%;
    opacity: 0;
    z-index: 50;
    position: relative;
    color: white;
}

.subtitle {
    color: black;
    width: 70%;
    opacity: 0;
    top: 20%;
    position: relative;
    line-height: 1.75em;
}

.model {
    opacity: 0;
    position: relative;
    height: auto !important;
    max-height: 568px !important;
    width: 30%;
    min-width: 225px;
    /* prevents the model from shrinking when the browser is resized */
    max-width: 266px;
}

@media screen and (max-width:767px) {

    #sequence .title {
        font-size: 6vw;
    }

    #sequence .subtitle {
        font-size: 4vw;
    }

    #sequence .title, #sequence .subtitle {
        color: white;
        bottom: 0;
        width: 100%;
        z-index: 10;
        padding: 2% 5%;
        margin: 0;
        background: #a1a1a1;
        background: rgba(0, 0, 0, 0.3);
    }

   .pag-place {
       opacity: 0;
       visibility: hidden;
       display:none;
    }
}

@media screen and (max-width:767px) and (orientation:portrait) {
    #sequence {
        height: 480px;
    }

    section#splash {
        height: 480px;
    }

    .display {
        width: 100%;
        padding: 0;
    }

    #sequence .animate-in .model {
        left: 25%;
        min-width: 50%;
        /*prevents the model from shrinking when the browser is resized*/
        width: 50%;
    }

    .pos {
        margin: 35% auto;
    }

    .sequence-next,
    .sequence-prev {
    top: 40%;
    }
}

@media screen and (max-width:767px) and (orientation:landscape) {
    #sequence {
        height: 100vh;
    }

    section#splash {
        height: 100vh;
    }

    .display {
        width: 100%;
        padding: 0;
        top: -35px;
    }

    #sequence .title {
        font-size: 4vw;
        padding-bottom:2px;
    }

    #sequence .subtitle {
        font-size: 3vw;
    }

    #sequence .animate-in .model {
        left: 35%;
        min-width: 30%;
        /*prevents the model from shrinking when the browser is resized*/
        width: 30%;
    }

    .pos {
        margin: 10% auto;
    }

    .sequence-next,
    .sequence-prev {
    top: 40%;
    }
}

@media screen and (max-width:320px) and (orientation:portrait) {
    .display {
        top: 30px;
    } 
    .pos {
        margin: 45% auto;
    }
}

@media screen and (max-width:480px) and (orientation:landscape) {
    .pos {
        margin: 20% auto;
    }
}

@media screen and (min-width:768px) and (max-width:991px) and (orientation:portrait) {
    #sequence {
        height: 700px;
    }

     section#splash {
        height: 700px;
    }

    .pos {
        margin: 30% auto;
    }

    .pag-place {
    bottom: 20%;
    }

    .sequence-next,
    .sequence-prev {
    top: 50%;
    }
}

@media screen and (min-width:768px) and (orientation:landscape) {
    #sequence {
        height: 100vh;
    }

    .pag-place {
    bottom: 20%;
    }

    .sequence-next,
    .sequence-prev {
    top: 50%;
    }
}
